
<div *ngIf="car">
    <!-- <p class="carTitle">Name: <strong>{{ car.Name.toUpperCase() }} </strong></p>
    <p>Vehicle Id: <strong>{{ car._id}} </strong></p>
    <p>Miles_per_Gallon: <strong>{{ car.Miles_per_Gallon }}</strong></p>
    <p>Cylinders: <strong>{{ car.Cylinders }}</strong></p>
    <p>Displacement: <strong>{{ car.Displacement }}</strong></p>
    <p>Horsepower: <strong>{{ car.Horsepower }}</strong> </p>
    <p>Weight_in_lbs: <strong>{{ car.Weight_in_lbs }}</strong></p>
    <p>Acceleration: <strong>{{ car.Acceleration }}</strong></p>
    <p>Year: <strong>{{ formatDate(car.Year) | date: 'yyyy' }}</strong></p>
    <p>Origin:<strong>{{ (car.Origin).toString() | uppercase }} </strong> </p> -->
    <p class="carTitle">accNumber: <strong>{{ account?.accNumber}} </strong></p>
    <!-- <p>ammount: <strong>{{ account?.deposit?.ammount}} </strong></p> -->

  </div>
